html, body{
  background-color: #f1f1f1;
}

.swiper-container {
    height: 7rem;
    width: 17rem;
    margin-top: -3rem !important;
    border-radius: .5rem;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 18px;
  height: 2rem;
  text-align: center;
  line-height: 18px;
  font-size: 7px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.banner-bg{
  border: .5rem solid #AAE1EE;
  padding: .5rem;
  background-color: #FFF;
}
.banner-title{
  text-align-last: center;
  font-size: 1.5rem;
  color:#AAE1EE;
}
.banner-adress{
  border: 1px solid #ff5a2b;
  margin: .2rem .8rem 1rem .8rem;
}
.banner-laber{
  display: inline-block;
  background: #ff5a2b;
  color: #FFF;
  padding: 0 .4rem;
}
.banner-adress-content{
  display: inline-block;
}
.banner-image > img{
  width: 100%;
}
.news-list{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50rem;
  display: flex;
  align-items: flex-start;
}
.news-item{
  width: 7rem;
  margin-right: .5rem;
  display: inline-flex;
  flex-wrap: wrap;
}
.store-item{
  width: 8rem;
  display: inline-flex;
  flex-wrap: wrap;
}
.store-item:nth-child(2n){
  margin-left: .35rem;
}
.store-item:nth-child(2n+1){
  margin-right: .35rem;
}
.news-item > img{
  width: 100%;
}
.store-item > img{
  width: 100%;
}
.news-item:nth-child(2n){
  margin-top:2rem;
}
.news-content{
  background: #fff;
  width: 100%;
}
.store-detail{
  background: #fff;
  width: 100%;
}
.news-title{
  font-size: .8rem;
  padding: .25rem;
}
.store-title{
  font-size: .8rem;
  padding: .25rem;
  text-align: center;
}
.news-tips{
  font-size: .5rem;
  color: #999;
  padding: .1rem .25rem;
}
.news-go{
  font-size: .5rem;
  color: #999;
  padding: .1rem .25rem;
  text-align: right;
}

.store-name{
  margin-left: -1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.goShop{
  color: #FF1000;
  position: absolute;
  margin-top: -.5rem;
  right: 1rem;
  border: .5px #FF1000 solid;
  padding: .1rem .4rem;
  font-size: .6rem;
  border-radius: .5rem;
}
.store-list{
  background: #FFF;
  padding: .75rem;
}
