<!-- swiper title -->
<div class="detail-item">
  <div class="swiper-container detail-swiper-heigh">
    <div class="swiper-wrapper">
      <% _.each(detailList.imageList,function(item){ %>
        <img class="swiper-slide" src="<%= item %>" alt="">
      <% }) %>
      
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="detail-price">￥<%= detailList.price %><span>已售<%= detailList.qty %>件</span></div>
</div>
<div class="detail-title"><%= detailList.name %></div>
<div class="detail-power indent">一天退换 √ 市内免邮 √ 直营店铺 √</div>
<!-- select -->
<div class="weui-cells weui-cells_form detail-type">
  <div class="weui-cell weui-cell_select weui-cell_select-after">
    <div class="weui-cell__hd">
        <label for="" class="weui-label">选择尺码</label>
    </div>
    <div class="weui-cell__bd">
        <select class="weui-select" name="select2">
          <% _.each(detailList.size,function(item){ %>
            <option value="<%= item.key %>"><%= item.value %></option>
          <% }) %>
        </select>
    </div>
  </div>
  <div class="weui-cell weui-cell_select weui-cell_select-after">
    <div class="weui-cell__hd"><label for="color" class="weui-label">选择颜色</label></div>
    <div class="weui-cell__bd">
      <select class="weui-select" name="select2">
          <% _.each(detailList.color,function(item){ %>
            <option value="<%= item.key %>"><%= item.value %></option>
          <% }) %>
      </select>
  </div>
  </div>
</div>
<!-- footer -->
<div class="detail-note">
  <h1>宝贝详情</h1>
  <% _.each(detailList.imageList,function(item){ %>
    <img class="swiper-slide" src="<%= item %>" alt="">
  <% }) %>
  
</div>
<div class="footer-bar weui-flex">
  <div class="weui-cell">
    <div class="weui-cell__bd">
      <p class="buy-amount">数量</p>
    </div>
    <div class="weui-cell__ft">
      <div class="weui-count">
        <a class="weui-count__btn weui-count__decrease"></a>
        <input class="weui-count__number" type="number" value="1" />
        <a class="weui-count__btn weui-count__increase"></a>
      </div>
    </div>
  </div>
  <!-- <div class="booter-bar-botton cell-phone">
    <a href="tel:<%=detailList.phone %> ">联系商家</a>
  </div> -->
  <div class="booter-bar-botton cell-phone" id="detail-buy">
    <span>联系商家</span>
  </div>
</div>
<div class="popup-layout j_show_popup" style="display: none;">
  <div class="popup-qrcode">
    商家二维码
  </div>
</div>
<script>
  //select
  $("#size").select({
    title: "请选择尺码",
    items: ['l', 'X', 'XL', 'XXL', 'XXXL'],
    // onChange: function(d) {
    // console.log(this, d);
    // },
    // onClose: function() {
    // console.log("close");
    // },
    // onOpen: function() {
    // console.log("open");
    // },
  });
  $("#color").select({
    title: "请选择颜色",
    items: ["红色", "绿色", "白色", "黑色"]
  });
</script>